@font-face {
    font-family: Guti;
    src: url(/html/DS-DIGI.TTF);
}

body {
    overflow: hidden;
}

[class="box"] {
    position: absolute;
    left: 18%;
    bottom: 3vw;
    width: 9vw;
    height: 4.5vw;
    background-color: rgba(0, 0, 0, 0.809);
    border-radius: .4vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
}

[class="velocidad"] {
    position: absolute;
    left: .75vw;
    top: .3vw;
    font-family: Guti;
    font-size: 2vw;
    color: rgba(114, 114, 114, 0.145);
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.4);
}

[class="velocidad2"] {
    position: absolute;
    left: .75vw;
    top: .3vw;
    font-family: Guti;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    text-shadow: .2vw .1vw .2vw rgba(0, 0, 0, .5);
}

[class="km"] {
    position: absolute;
    left: 3.9vw;
    top: 30%;
    font-family: Guti;
    font-size: .7vw;
    color: rgba(114, 114, 114, 0.145);
    opacity: .9;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.4);
}

[class="marchas-texto"] {
    position: absolute;
    right: 2vw;
    top: 19%;
    font-family: Guti;
    font-size: .82vw;
    color: rgb(255, 255, 255);
}

[class="marchas"] {
    position: absolute;
    width: .70vw;
    right: .9vw;
    top: 19%;
}


[class="fas fa-gas-pump"] {
    position: absolute;
    font-size: .70vw;
    left: 10%;
    bottom: 15%;
    color: rgb(255, 255, 255);
    transition: .5s;
}

[class="fas fa-engine-warning"] {
    position: absolute;
    font-size: .70vw;
    left: 25%;
    bottom: 15%;
    color: rgb(255, 255, 255);
    transition: .5s;
}

[class="rpm"] {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    opacity: .8;
    transition: .5s;
}

[class="rpm2"] {
    overflow: hidden;
    position: absolute;
    height: .16vw;
    width: 5vw;
    left: .8vw;
    top: 2.4vw;
    border-radius: .1vw;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

[class="progressBarFuel"] {
    position: absolute;
    background-color: #404040;
    top: 76%;
    left: 1.8vw;
    transform: translateY(-50%);
    width: .1vw;
    height: .8vw;
}

[class="progressFuel"] {
    position: absolute;
    bottom: 0%;
    max-height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    transition: .5s;
}


@keyframes parpadeo {
    for {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}